:root {
  --sz: 100%;
  --vh: 100vh;
  --pd: 1.25rem;
  --rd: .5lh;
  --unit: 5;
  --fnt-sz: calc((var(--pd) * var(--unit)) / 4);
  --fnt-play: 'Play', sans-serif;
  --fnt-abel: 'Abel', sans-serif;
  --black-color: #1f1f20;
  --white-color: #f7f8f9;
  --gray-color: #9da0a5;
  --light-blue-color: #2e8ce2;
  --dark-red-color: #6F1A15;
  --dark-gray-color: #41474e;
  --dark-blue-color: #1f313c;
  --turntable-light-mode: linear-gradient(135deg, #274f77 0%, #2196f3 60%, #3787d7 100%);
  --turntable-dark-mode: linear-gradient(135deg, #274f77 0%, #1b364b 60%, #0b3865 100%);
  --base-light-mode: linear-gradient(-135deg, #0a64ad 0%, #0874e0 100%);
  --base-dark-mode: linear-gradient(-135deg,#164b77 0%, #0553a1 70%);
  --inner-base-color: linear-gradient(-135deg,#052e50 0%, #1176dd 70%);
  --disk-gradient-color: linear-gradient(180deg, #1e1e1e 0%, #3a3232 60%, #534b4b 100%)
}

*,
*::before,                               
*::after { box-sizing: border-box; }

:where(html, body, p, span) { margin: 0; }
:where(button, input) { cursor: pointer; }
:where(.flex, .spinner--container) {
  display: flex;
  align-items: center;
  justify-content: center
}
:where(.music--player, .turntable, .control--container, .toggle, .inner--plate, .inner--base) { position: relative; }
:where(.feature--section, .progress--bar, .icon, .spinner--container, .outer--plate, .outer--base, .tone--arm, .tonearm--container) { position: absolute; }

p { 
  color: var(--black-color);
  text-transform: capitalize;
}

button {
  padding: var(--rd);
  background: transparent;
  border: none;
  color: var(--white-color)
}

[type="range"] {
  width: calc((var(--pd) / 2) * var(--unit));
  height: .2rem
}

.container {
  display: block;
  height: var(--vh);
  overflow: hidden
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  height: 100dvh;
  background: url('../assets/images/light-bg-theme.png') center / cover, no-repeat;
  gap: calc(var(--rd) * .75);
  &.dark { background: url('../assets/images/dark-bg-theme.png') center / cover, no-repeat }
  .header {
    justify-content: space-between;
    width: var(--sz);
    padding-inline: calc(var(--pd) * 2);
    .logo {
      margin: var(--rd);
      font-family: var(--fnt-play);
      text-transform: capitalize;
      color: var(--white-color);
      & span {
        display: inline-block;
        font-family: var(--fnt-abel);
        font-weight: 100;
        &::first-letter {
          text-transform: uppercase;
          font-size: calc(var(--fnt-sz) * 1.5)
        }
      }
    }
    .toggle--container {
      .toggle {
        width: var(--sz);
        min-width: 3.35rem;
        height: calc(var(--pd) * 1.125);
        background: var(--dark-red-color);
        box-shadow: .125vmin .125vmin .125rem rgba(0, 0, 0, .5) inset, .125vmin -.125vmin .25rem rgba(102, 12, 5, 0.5) inset;
        border-radius: 15rem;
        &.active { 
          background: var(--dark-blue-color);
          box-shadow: .125vmin .125vmin .125rem rgba(0, 0, 0, .5) inset, .125vmin -.125vmin .125rem rgba(236, 234, 234, 0.25) inset;
        }
        &::before {
          content: "";
          width: calc(var(--pd) * 1.01);
          height: calc(var(--pd) * 1.01);
          position: absolute;
          background: var(--white-color);
          border-radius: var(--sz);
          top: .05rem;
          right: .15rem;
          transition: 200ms right cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &.active::before {
          background: var(--light-blue-color);
          top: .05rem;
          left: .1rem;
          transition: 200ms left cubic-bezier(0.165, 0.84, 0.44, 1)
        }
      }
    }
  }
  .spinner--container {
    width: var(--sz);
    height: var(--sz);
    top: 0;
    left: 0;
    backdrop-filter: blur(.25rem);
    background: rgba(0, 0, 0, .375);
    z-index: 5;
    .spinner {
      width: calc(var(--pd) * 3);
      height: calc(var(--pd) * 3);
      border: var(--rd) solid rgba(0, 0, 0, .1275);
      border-radius: var(--sz);
      border-top-color: var(--white-color);
      animation: spinner 1s cubic-bezier(0.615, 0.210, 0.755, 1) infinite;
    }
  }
}

.music--player {
  min-height: calc(var(--vh) * .74);
  z-index: 2;
  .turntable {
    grid-row: 2;
    width: 40rem;
    height: 21.5rem;
    background: var(--turntable-light-mode);
    border-radius: calc(var(--rd) * 1.25);
    box-shadow: -.35vmin -.35vmin .5rem rgba(0, 0, 0, .45) inset, 0 .35vmin .5vmin .025rem rgba(0, 0, 0, .45);
    &.dark { background: var(--turntable-dark-mode) }
    & :is(.outer--plate, .inner--plate) { border-radius: var(--sz) }
    .outer--plate {
      --outer: 23rem;
      width: var(--outer);
      height: var(--outer);
      background: var(--dark-gray-color);
      bottom: -18%;
      left: -10%;
      box-shadow: 0 -.35vmin .235rem rgba(0, 0, 0, .45) inset, .5vmin .25vmin .5rem rgba(0, 0, 0, .45);
      animation: rotate 5s linear infinite;
      animation-play-state: paused;
      &.play { animation-play-state: running }
      .inner--plate {
        --inner: 22rem;
        width: var(--inner);
        height: var(--inner);
        overflow: hidden;
        background: var(--disk-gradient-color) center / cover, no-repeat;
        box-shadow: -.35vmin -.125vmin .35rem 0 rgba(0, 0, 0, .275) inset, -.235vmin -.25vmin .5rem rgba(0, 0, 0, .375);
        &::before {
          content: "";
          width: var(--pd);
          height: var(--pd);
          position: absolute;
          background: var(--white-color);
          border-radius: var(--sz);
          box-shadow: .25vmin -.25vmin .45rem 0 rgba(10, 10, 10, .75) inset
        }
      }
    }
    .outer--base {
      --base: 4.25rem;
      width: var(--base);
      height: var(--base);
      background: var(--base-light-mode);
      bottom: calc(var(--base) * .5);
      right: calc(var(--base) * .7);
      border-radius: calc(var(--rd) * .5);
      box-shadow: -.5vmin -.5vmin .5rem rgba(0, 0, 0, .35) inset, .15vmin .15vmin .25rem rgba(0, 0, 0, .2) inset;
      &.dark { background: var(--base-dark-mode); }
      .inner--base {
        --base: 2.75rem;
        width: var(--base);
        height: var(--base);
        background: var(--inner-base-color);
        border-radius: var(--sz);
        box-shadow: -.15vmin -.05vmin .125rem rgba(0, 0, 0, .35) inset;
        isolation: isolete;
        &::before {
          content: "";
          width: 1rem;
          height: 1rem;
          position: absolute;
          inset: 50%;
          transform: translate(-50%, -50%);
          background: var(--white-color);
          border-radius: var(--sz);
          box-shadow: -.5vmin -.05vmin .15rem rgba(0, 0, 0, .35) inset, .15vmin .25vmin .25rem rgba(0, 0, 0, .75);
          z-index: 2;
        }
        .tonearm--container {
          width: var(--base);
          height: var(--base);
          transform: rotate(45deg);
          transition: transform 400ms cubic-bezier(0.175, 0.82, 0.165, 1);
          &.active { transform: rotate(15deg) }
          .tone--arm {
            width: calc(var(--fnt-sz) * 12.75);
            height: calc(var(--rd) * 4);
            top: 50%;
            left: 0%;
            transform: translate(-90%, -40%);
            transform-origin: center bottom;
            border-radius: 50%;
            border: var(--rd) solid transparent;
            border-top-color: var(--black-color);
            &::before,
            &::after {
              content: "";
              width: calc(var(--pd)* 2.35);
              height: calc(var(--fnt-sz)* 2.35);
              position: absolute;
              border-radius: 55%;
              border: 1.25rem solid transparent;
              
            }
            &::before {
              bottom: -95%;
              left: 94%;
              border-right-color: var(--gray-color)
            }
            &::after {
              width: calc(var(--fnt-sz)* 3);
              height: calc(var(--pd) * 1.12);
              top: 35%;
              left: -15%;
              transform: rotate(-25deg);
              border: 1rem solid transparent;
              border-top-color: var(--gray-color);
              border-radius: 0;
            }
          }
        }
      }
    }
    .feature--section {
      align-items: flex-start;
      flex-direction: column;
      width: 26.3125rem;
      height: 6rem;
      padding-inline-start: calc(var(--pd) * 1.5);
      background: var(--white-color);
      bottom: .5rem;
      right: 0;
      border-radius: 0 0 calc(var(--rd) * 1.25) calc(var(--rd) * 1.25);
      z-index: -1;
      box-shadow: -.25vmin -.25vmin .5rem rgba(0, 0, 0, .45) inset;
      transition: bottom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      .song--name { 
        margin-block-end: calc(var(--rd) * .235); 
        font: 800 calc(var(--fnt-sz) * .85) var(--fnt-play); 
      }
      .artist--name { font: 300 calc(var(--fnt-sz) * .65) var(--fnt-abel) }
      &.visible { bottom: -5rem }
    }
  }
}

.control--container {
  justify-content: space-between;
  width: var(--sz);
  max-width: 48.75rem;
  padding-inline: var(--pd);
  height: 5rem;
  & span { 
    font-family: var(--fnt-play);
    letter-spacing: .05lh;
    color: var(--black-color);
    &.active { color: var(--white-color); }
  }
  .progress--bar {
    width: var(--sz);
    height: 0.25rem;
    background: var(--white-color);
    inset: 0;
    border-radius: calc(var(--rd) * 5);
    .progress {
      width: 0;
      height: var(--sz);
      background: linear-gradient(
        45deg,  
        var(--dark-red-color) 35%,
        #982120 65%,
        #BD2B27 100%
      );
      border-radius: inherit;
      transition: width 100ms cubic-bezier(0.075, 0.82, 0.165, 1)
    }
  }
  .controls {
    justify-content: space-around;
    width: var(--sz);
    max-width: 35rem;
    .player--container {
      justify-content: space-around;
      width: calc(var(--sz) * .25);
      .play--btn { font-size: calc(var(--fnt-sz) * 1.5) }
      & :is(.chevron--right, .chevron--left) { font-size: var(--pd) }
    }
    & :is(.forward--btn, .rewind--btn) { font-size: calc(var(--pd) * .6); }
    .rewind--btn { 
      & .fa-backward { padding-inline-start: calc(var(--rd) * .5)}
    }
    .forward--btn {
      & .fa-forward { padding-inline-end: calc(var(--rd) * .5)}
    }
    .repeat--btn { font-size: calc(var(--pd) * .8); }
    .volume--container {
      .slider { margin-block: auto; }
    }
  }
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

@keyframes spinner {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg) }
}